## .NET
bin/
obj/
out/

## Visual Studio / Rider / VS Code
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
.idea/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/

## NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

## Archivos de entorno / secretos
appsettings.Development.json
appsettings.*.local.json
*.env
.env

## Logs
*.log

## Sistema operativo
.DS_Store
Thumbs.db