# Build results
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/

# VS Code
.vscode/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Test results
TestResults/

# NuGet
*.nupkg
*.snupkg
packages/

# OS files
.DS_Store
Thumbs.db